<form class="{{cssClass}}" autocomplete="off">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="128" width="128"/>
    <h1><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
    
    <div>
        <table>
            <h2>Background</h2>
        <tr>
            {{#each data.background as |back backnom|}}
            <th>{{backnom}}</th>
            {{/each}}
            
        </tr>
       
       
                
        </table>
    </div>
    <div>
        <table>
            <h2>Caractéristique secondaire</h2>
        <tr>
            {{#each data.caracsecondaire as |caractsecond caractsecondnom|}}
            <!--<td>{{caractsecond.nomaffichage}}</td>
            <td>{{localize 'knight.caracsecondaire.PA'}}</td>-->
            
            <td>{{localize  (tocaractsecondaff caractsecondnom)}}</td>
            
            {{/each}}
            
        </tr>
       
        <tr>
            {{#each data.caracsecondaire as |caractsecond caractsecondnom|}}
            <td>{{caractsecond.valeurmax}}</td>
            {{/each}}
        </tr>

        <tr>
            {{#each data.caracsecondaire as |caractsecond caractsecondnom|}}
            <td><input name="data.caracsecondaire.{{caractsecondnom}}.valeur" type="number" value="{{caractsecond.valeur}}" placeholder="{{caractsecond.valeur}}"/></td>
            {{/each}}
        </tr>
                
        </table>
    </div>
<div>
        
<table>
    <h2>ASPECTS, CARACTÉRISTIQUES ET OVERDRIVES</h2>
    
    <th>
        <label>ASPECTS</label>
        {{#each data.aspect as |aspe aspenom|}}
        <tr>
            <th></th>
            <td><label>{{localize  (toaspeaff aspenom)}}</label></td>
            <td><input name="data.aspect.{{aspenom}}.valeur" type="number" value="{{aspe.valeur}}" placeholder="{{aspe.valeur}}"/></td>
            <td><a class="jetdedes" title="{{localize 'knight.jetdedes'}}"><i class="fas fa-dice-d20" data-dice="{{aspe.valeur}}" data-nom="{{aspe.nomaffichage}}"></i></a></td>
        </tr>
        <th>
        
            <label>CARACTÉRISTIQUES</label>
        
            {{#each aspe.caracteristique as |caract caractnom|}}
                <tr>
                    <th></th>
                    
                    <td><label>{{localize  (tocaractaff aspenom caractnom)}}</label></td>
                    <td><input name="data.aspect.{{aspenom}}.caracteristique.{{caractnom}}.valeur" type="number" value="{{caract.valeur}}" placeholder="{{caract.valeur}}"/></td>
                    <td><a class="jetdedes" title="{{localize 'knight.jetdedes'}}"><i class="fas fa-dice-d20" data-dice="{{caract.valeur}}" data-nom="{{caract.nomaffichage}}"></i></a></td>
                </tr>
                <tr>
                    <th></th>
                    <th>Niveau</th>
                    <th>Description</th>
                </tr>
                
                <th>
                    <label>OVERDRIVES</label>
                
                    {{#each overdrivelist as |item key|}}
                        <tr class="item" data-item-id="{{item._id}}">
                            <td><img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="32" width="32" /></td>
                            <td>{{item.data.description}}</td>
                            <td>{{item.data.caracteristique}}</td>
                            <td>
                                <a class="item-edit" title="{{localize 'knight.item-edit'}}"><i class="fas fa-edit"></i></a>
                                <a class="item-delete" title="{{localize 'knight.item-delete'}}"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    {{/each}}
                </th>
            {{/each}}
        </th>
        {{/each}}
    </th>
    
        
</table>
<h3>OVERDRIVES</h3>
<!--  
<table>
        <tr>
            <th></th>
            <th></th>
            <th>description</th>
            <th>caracteristique</th>
        </tr>
    {{#each actor.items as |item key|}}
    <tr class="item" data-item-id="{{item._id}}">
        <td><img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="32" width="32" /></td>
        
        <td>{{item.data.description}}</td>
        <td>{{item.data.caracteristique}}</td>
        <td>
            <a class="item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </td>
    </tr>
    {{/each}}
</table>
-->  
    <table>
        <tr>
            
            <th></th>
            <th>niveau</th>
            <th>description</th>
        </tr>
    

    {{#each overdrivelist as |item key|}}
                <tr class="item" data-item-id="{{item._id}}">
                    <td><img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="32" width="32" /></td>
                    <td>{{item.data.description}}</td>
                    <td>{{item.data.caracteristique}}</td>
                    <td>
                        <a class="item-edit" title="{{localize 'knight.item-edit'}}"><i class="fas fa-edit"></i></a>
                        <a class="item-delete" title="{{localize 'knight.item-delete'}}"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
    {{/each}}
    </table>




</div>

       
    
    <label>Note
        <!--<input name="data.note" type="text" value="{{data.note}}" placeholder="note"/>-->
    </label>
    <textarea name="data.note" type="text" rows="10" placeholder="note" >{{data.note}}</textarea>
    
</form>