<form class="{{cssClass}}" autocomplete="off">
    
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="128" width="128"/>
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    <label>Description
        <!--<input name="data.note" type="text" value="{{data.note}}" placeholder="note"/>
        
    </input> -->
    </label>

    <textarea name="data.description" type="text" rows="10" placeholder="note" >{{data.description}}</textarea>
    <textarea name="data.caracteristique" type="text" rows="10" placeholder="note" >{{data.caracteristique}}</textarea>
            
    
    
    
</form>